html {
  height: 100%;
  width: 100%;
  background-color: #e6d3f5;
}

body {
  font-family: "Jersey 10", sans-serif;
  color: #7a618f;
}

button {
  font-family: "Pixelify Sans", sans-serif;
  outline: none;
  cursor: pointer;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #7a618f;
  font-size: 50%;
  
}

.container {
  background-color: #ceb1e6;
  width: min(80%, 400px);
  height: max(25%);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em 2em;
  border-radius: 1em;
  text-align: center;
}

.btn {
  padding: 0.5em 2%;
  margin-right: 0.1em;
  border-radius: 0.5em;
  color: #7a618f;
  border-color: #e6d3f5;
  min-height: 3.5vw;
}

.btn:hover {
  background-color: #7a618f;
  color: #e6d3f5;
}

.selection-panel {
  justify-content: center;
}

#time {
  text-align: center;
  font-family: "Jersey 10", sans-serif;
  color: #7a618f;
  font-size: 15vw;
  font-weight: 600;
}

.control-panel {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control-btns {
  text-align: center;
  justify-content: center;
  gap: 2em;
  display: flex;
  background-color: transparent;
  font-size: 3vw;
  border-radius: 0.5em;
  min-height: 3.5vw;
}

.ctrl-btn {
  background-color: transparent;
  border: none;
  outline: none; 
  color: #7a618f;
  font-size: 2em;
}

.ctrl-btn:hover {
  color: #e6d3f5;
}

.title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 5vw;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.jersey-15-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
